<a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="{{site.baseurl}}/" aria-label="Bootstrap">{% include logo.svg %}
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/"
          onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">长安一条街</a>
      </li>
      {% for link in site.data.navigation %}
			<li class="nav-item ">
        <a class="nav-link" href="{% if link.url %}{{ site.baseurl }}/{{ link.url }}{% else %}{{ link.external_url }}{% endif %}" ><span>{{ link.title }}</span></a>
			</li>{% endfor %}
    </ul>
  </div>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

    <li class="nav-item">
      
    </li>
   
  </ul>

  
</header>